<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Edit Category</h1>
    <ol class="breadcrumb">
        <li><a href="javascript:void(0);"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="administrator.category"><i class="fa fa-dashboard"></i> Categories</a></li>
        <li class="active">Edit Category</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <div class="col-md-12">
            <!-- TABLE: LATEST ORDERS -->
            <div class="box box-info" ng-controller="ProductController">
                <div class="box-header with-border">
                    <h3 class="box-title">Add New Category</h3>

                    <div class="box-tools pull-right">
                        <a ui-sref="administrator.product" class="btn btn-sm btn-info btn-flat pull-left">Back to All Product</a>
                    </div>
                </div>
                <!-- /.box-header -->

                <form class="form-horizontal" name="addproductform" id="addproductform" method="post" ng-init="edit()">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Title</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="title" name="title" placeholder="Enter Category Name" ng-model="product.title" ng-required="true">
                                <span class="help-inline" 
                                        ng-show="addproductform.title.$invalid && addproductform.title.$touched">Title is required</span>
                            </div>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Description</label>

                            <div class="col-sm-10">
                                <textarea type="text" class="form-control" id="description" name="description" placeholder="Enter Category Description" ng-model="product.description" ng-required="true">
                               
                                </textarea>
                                <span class="help-inline" 
                                        ng-show="addproductform.description.$invalid && addproductform.description.$touched">Description is required</span>
                            </div>
                        </div>
                    </div>


                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Image</label>

                            <div class="col-sm-10">
                                <input type="file" id="cat_image" name="cat_image">
                            </div>
                              
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="reset" class="btn btn-default">Reset</button>
                        <button type="submit" class="btn btn-info pull-right" ng-disabled="addproductform.$invalid" ng-click="save('edit', product.id)">Submit</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
