
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>All Products</h1>
    <ol class="breadcrumb">
        <li><a href="javascript:void(0);"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Products</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <div class="col-md-12">
            <!-- TABLE: LATEST ORDERS -->
            <div class="box box-info" ng-controller="ProductController">
                <div class="box-header with-border">
                    <div class="box-tools pull-right">
                    <div class="pull-left"> <input type="text" class="form-control input-sm ng-valid ng-dirty" placeholder="Search" ng-change="searchDB()" ng-model="searchText" name="table_search" title="" tooltip="" data-original-title="Min character length is 3"></div>
                        <a ui-sref="administrator.product.create" class="btn btn-sm btn-info btn-flat pull-left">Add New Product</a>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body" ng-init="getProductListing(currentPage)">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Title</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="product in products">                  
                                    <td>{{ $index + 1 }}</td>
                                    <td>{{ product.title }}</td>
                                    
                                    <td>
                                        <div class="sparkbar" data-color="#00a65a" data-height="20">
                                        <button ui-sref="administrator.product.view({id:product.id})" class="btn btn-info btn-xs btn-detail">View</button>
                                        <button ui-sref="administrator.product.edit({id:product.id,currentPage:currentPage})" class="btn btn-primary btn-xs btn-detail">Edit</button>
                                        <button ng-click="confirmDelete(product.id)" class="btn btn-danger btn-xs btn-detail">Delete</button></div>
                                    </td>
                                </tr>
                                <tr ng-if="product.length === 0">
                                    <td>No Item Found</td>
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
                <product-pagination></product-pagination>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
