<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>View Category</h1>
    <ol class="breadcrumb">
        <li><a href="javascript:void(0);"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="administrator.category"><i class="fa fa-dashboard"></i> Categories</a></li>
        <li class="active">View Category</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <div class="col-md-12">
            <!-- TABLE: LATEST ORDERS -->
            <div class="box box-info" ng-controller="ProductController" ng-init="view()">
                <div class="box-header with-border">
                    <h3 class="box-title">View Product</h3>

                    <div class="box-tools pull-right">
                        <a ui-sref="administrator.product" class="btn btn-sm btn-info btn-flat pull-left">Back to All Product</a>
                    </div>
                </div>
                <!-- /.box-header -->

                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Title</label>

                            <div class="col-sm-10">
                               {{product.title}}
                            </div>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Description</label>

                            <div class="col-sm-10">
                                {{product.description}}
                                
                            </div>
                        </div>
                    </div>

                   
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
