<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Add New Category</h1>
    <ol class="breadcrumb">
        <li><a href="javascript:void(0);"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="administrator.category"><i class="fa fa-dashboard"></i> Categories</a></li>
        <li class="active">Add New Category</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <div class="col-md-12">
            <!-- TABLE: LATEST ORDERS -->
            <div class="box box-info" ng-controller="ProductCategoryController">
                <div class="box-header with-border">
                    <h3 class="box-title">Add New Category</h3>

                    <div class="box-tools pull-right">
                        <a ui-sref="administrator.category" class="btn btn-sm btn-info btn-flat pull-left">Back to All Categories</a>
                    </div>
                </div>
                <!-- /.box-header -->

                <form class="form-horizontal" name="addcategoryfrm" id="addcategoryfrm" method="post">
                
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Title</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="title" name="title" placeholder="Enter Category Name" ng-model="category.title" ng-required="true">
                                <span class="help-inline" 
                                        ng-show="addcategoryfrm.title.$invalid && addcategoryfrm.title.$touched">Title is required</span>
                            </div>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Description</label>

                            <div class="col-sm-10">
                                <textarea type="text" class="form-control" id="description" name="description" placeholder="Enter Category Description" ng-model="category.description" ng-required="true">
                                </textarea>
                                <span class="help-inline" 
                                        ng-show="addcategoryfrm.description.$invalid && addcategoryfrm.description.$touched">Description is required</span>
                            </div>
                        </div>
                    </div>

                    
                    <!-- /.box-body -->
                    <div class="box-footer">
                        
                        <button type="submit" class="btn btn-info pull-right" ng-disabled="addcategoryfrm.$invalid" ng-click="save(state, id)">Submit</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
