<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>All Categories</h1>
    <ol class="breadcrumb">
        <li><a href="javascript:void(0);"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Categories</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <div class="col-md-12">
            <!-- TABLE: LATEST ORDERS -->
            <div class="box box-info" ng-controller="ProductCategoryController">
                <div class="box-header with-border">
                    <h3 class="box-title">List of All Categories</h3>

                    <div class="box-tools pull-right">
                    <div class="pull-left"> <input type="text" class="form-control input-sm ng-valid ng-dirty" placeholder="Search" ng-change="searchDB()" ng-model="searchText" name="table_search" title="" tooltip="" data-original-title="Min character length is 3"></div>
                        <a ui-sref="administrator.category.create" class="btn btn-sm btn-info btn-flat pull-left">Add New Category</a>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body"  ng-init="getCategoryListing(currentPage)">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>S.No.</th>
                                    <th>Title</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="categories in productcategories">                  
                                    <td>{{ $index + 1 }}</td>
                                    <td>{{ categories.title }}</td>
                                    <td><a href="javascript:void(0);" ng-click="changeStatus(categories.id,categories.is_enabled)"><span class="label {{categories.is_enabled === 0 ? 'label-success' : 'label-danger'}}">{{ categories.is_enabled === 0 ? "Active" : "Inactive"}}</span></a></td>
                                    <td>
                                        <div class="sparkbar" data-color="#00a65a" data-height="20">
                                        <button ui-sref="administrator.category.view({id:categories.id})" class="btn btn-info btn-xs btn-detail">View</button>
                                        <button ui-sref="administrator.category.edit({id:categories.id,currentPage:currentPage})" class="btn btn-primary btn-xs btn-detail">Edit</button>
                                        <button ng-click="confirmDelete(categories.id)" class="btn btn-danger btn-xs btn-detail">Delete</button></div>
                                    </td>
                                </tr>
                                <tr ng-if="productcategories.length === 0">
                                    <td>No Item Found</td>
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                    <div>

                    <posts-pagination></posts-pagination>
                </div>
                </div>
                <!-- /.box-body -->
                
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->


        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
