<div class="login-box">
    <div class="login-logo">
        <a ui-sref="administrator.dashboard"><b>PMS</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <form action="../../index2.html" method="post">
            <div class="form-group has-feedback">
                <input type="email" class="form-control" placeholder="Email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="row">                
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <a ui-sref="administratorAuth.login" class="text-center">I already have a membership</a><br/>
        <a ui-sref="administratorAuth.register" class="text-center">Register a new membership</a>

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<script type="text/javascript">
    $(function () {
        $('body').removeClass('register-page');
        $('body').addClass('login-page');
    });
</script>