<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top headroom">
    <div class="container">
        <div class="navbar-header">
            <!-- Button for smallest screens -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" ui-sref="root.home"><img src="assets/site/images/logo.png" alt="PMS"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li ui-sref-active="active"><a ui-sref="root.home">Home</a></li>
                <li ui-sref-active="active"><a ui-sref="root.about">About</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">More Pages <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="root.leftSidebar">Left Sidebar</a></li>
                        <li ui-sref-active="active"><a ui-sref="root.rightSidebar">Right Sidebar</a></li>
                        <li ui-sref-active="active"><a ui-sref="administratorAuth.login">Administrator Login</a></li>
                        <li ui-sref-active="active"><a ui-sref="administratorAuth.register">Administrator Register</a></li>
                        <li ui-sref-active="active"><a ui-sref="administrator">Administrator Dashboard</a></li>
                    </ul>
                </li>
                <li ui-sref-active="active"><a ui-sref="root.contact">Contact</a></li>
                <li ui-sref-active="active"><a class="btn" ui-sref="root.login">SIGN IN / SIGN UP</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<!-- /.navbar -->
