<!--
        --
                All Stylesheet
        --
-->
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!-- Bootstrap 3.3.6 -->
<link rel="stylesheet" href="assets/admin/bootstrap/css/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="assets/admin/dist/css/AdminLTE.min.css">
<!-- AdminLTE Skins. Choose a skin from the css/skins
     folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" href="assets/admin/dist/css/skins/_all-skins.min.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<!--
        --
                All Javascript
        --
-->
<!-- Bootstrap 3.3.6 -->
<script src="assets/admin/bootstrap/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="assets/admin/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="assets/admin/dist/js/app.min.js"></script>
<!-- SlimScroll 1.3.0 -->
<script src="assets/admin/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="assets/admin/dist/js/demo.js"></script>
<script type="text/javascript">
    $(function () {
        $('body').addClass('sidebar-mini skin-red-light fixed');
    })
</script>

<div class="wrapper">
    <!--
            --
                    Header Section
            --
    -->
    <div ui-view="header"></div>
    <!--
            --
                    Left and Right Sidebar Sections
            --
    -->

    <div ui-view="sidebarLeft"></div>
    <div ui-view="sidebarRight"></div>

    <!--
            --
                    Content Section
            --
    -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div ui-view="content"></div>
    </div>
    <!-- /.content-wrapper -->
    <!--
            --
                    Footer Section
            --
    -->
    <div ui-view="footer"></div>
</div>