<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <div class="slimScrollDiv">
        <!-- sidebar: style can be found in sidebar.less -->    
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="assets/admin/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>Alexander Pierce</p>
                    <a href="javascript:void(0);"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <li class="active">
                    <a ui-sref="administrator.dashboard">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="javascript:void(0);">
                        <i class="fa fa-files-o"></i>
                        <span>Products</span>
                        <span class="pull-right-container">
                            <span class="label label-primary pull-right">99</span>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a ui-sref="administrator.product"><i class="fa fa-circle-o"></i> All Products</a></li>
                        <li><a ui-sref="administrator.product.create"><i class="fa fa-circle-o"></i> Add New Product</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="javascript:void(0);">
                        <i class="fa fa-files-o"></i>
                        <span>Categories</span>
                        <span class="pull-right-container">
                            <span class="label label-primary pull-right">99</span>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a ui-sref="administrator.category"><i class="fa fa-circle-o"></i> All Categories</a></li>
                        <li><a ui-sref="administrator.category.create"><i class="fa fa-circle-o"></i> Add New Category</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="javascript:void(0);">
                        <i class="fa fa-files-o"></i>
                        <span>Users</span>
                        <span class="pull-right-container">
                            <span class="label label-primary pull-right">14</span>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a ui-sref="administrator.user"><i class="fa fa-circle-o"></i> All Users</a></li>
                        <li><a href="javascript:void(0);"><i class="fa fa-circle-o"></i> Add New User</a></li>
                    </ul>
                </li>
                
            </ul>
        </section>
        <!-- /.sidebar -->
    </div>    
</aside>